<html>
  <head>
    <!--Load the AJAX API-->
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
    <script type="text/javascript">

      // Load the Visualization API and the corechart package.
      google.charts.load('current', {'packages':['corechart']});

      // Set a callback to run when the Google Visualization API is loaded.
      google.charts.setOnLoadCallback(drawChart);
	  google.charts.setOnLoadCallback(drawChart2);
	  
	  google.charts.setOnLoadCallback(drawChart3);
	  google.charts.setOnLoadCallback(drawChart4);
	  
      // Callback that creates and populates a data table,
      // instantiates the pie chart, passes in the data and
      // draws it.
	  var total,donated,wasted;
      function drawChart() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Hotel');
        data.addColumn('number', 'Donated');
		var arry = [];
		var rows2={{rows|tojson}}
		var row;var i;
		for(i=0;i<rows2.length;i++){
		row=rows2[i];
			var a = new Array(row["HotelName"],row["total"]);
			arry.push(a);
   }
		/*for(i=0;i<rows2.length;i++)
		{
		row=rows2[i];
		console.log("Hi");
			console.log((row["HotelName"]).toString());
			var a = new Array(row["HotelName"],row["total"]);
			arry.push(a);
		}*/
        data.addRows(arry);

        // Set chart options
        var options = {'title':'Total Food  by Hotels',
                       'width':600,
                       'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart_div'));
        chart.draw(data, options);
      }
	  function drawChart4() {

        // Create the data table.
		 var data = google.visualization.arrayToDataTable([
          ['Food','Percentage'],
          ['Donated',  donated],
          ['Wasted',wasted]
        ]);

        // Set chart options
        var options = {'title':'Food',
                       'width':600,
                       'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.PieChart(document.getElementById('chart4'));
        chart.draw(data, options);
      }
	  function drawChart3() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Hotel');
        data.addColumn('number', 'Wasted Food');
		var arry = [];
		var rows2={{rows|tojson}}
		var row;var i;wasted=0;
		for(i=0;i<rows2.length;i++){
		row=rows2[i];
			var a = new Array(row["HotelName"],(row["leftout"]));
			arry.push(a);
			wasted+=row["leftout"];
   }
		/*for(i=0;i<rows2.length;i++)
		{
		row=rows2[i];
		console.log("Hi");
			console.log((row["HotelName"]).toString());
			var a = new Array(row["HotelName"],row["total"]);
			arry.push(a);
		}*/
        data.addRows(arry);

        // Set chart options
        var options = {'title':'Food Wasted by Hotels',
                       'width':700,
                       'height':500};

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart3'));
        chart.draw(data, options);
      }
	  function drawChart2() {

        // Create the data table.
        var data = new google.visualization.DataTable();
        data.addColumn('string', 'Hotel');
        data.addColumn('number', 'Donated');
		var arry = [];
		var rows2={{rows|tojson}}
		var row;var i;
		donated=0;
		for(i=0;i<rows2.length;i++){
		row=rows2[i];
			var a = new Array(row["HotelName"],(row["total"]-row["leftout"]));
			arry.push(a);
			donated+=(row["total"]-row["leftout"]);
   }
		/*for(i=0;i<rows2.length;i++)
		{
		row=rows2[i];
		console.log("Hi");
			console.log((row["HotelName"]).toString());
			var a = new Array(row["HotelName"],row["total"]);
			arry.push(a);
		}*/
        data.addRows(arry);

        // Set chart options
        var options = {'title':'Food Donated by Hotels',
                       'width':700,
                       'height':500
					   };

        // Instantiate and draw our chart, passing in some options.
        var chart = new google.visualization.ColumnChart(document.getElementById('chart2'));
        chart.draw(data, options);
      }
    </script>
  </head>

  <body>
    <!--Div that will hold the pie chart-->
    <div style="width: 100%; overflow: hidden;" >
    <div style="width: 600px; float: left;" id="chart_div">  </div>
    <div style="margin-left: 620px;" id="chart2">  </div>
	</div>
	<div style="width: 100%; overflow: hidden;" >
	<div style="width: 600px; float: left;" id="chart3"></div>
	 <div style="margin-left: 680px;" id="chart4"></div>
	</div>
  </body>
</html>